{% extends "base.html"%}
{% block title %}
Photo
{% endblock %}

{% block head %}
<!-- head에 들어갈 태그들(본인 페이지 전용 css, js 파일 등) 넣어주세여 -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'photo.css' %}">
{% endblock%}

{% block body %}
{% if imageList %}
<div class="container">
  <section>
    <div class="card" style="width:400px;">
      <img class="card-img-top" src="{{ imgDetail.image_file.url }}" alt="Card image" style="width:100%">
        <div class="card-body" style="text-align: center">
          <h4 class="card-title"></h4>
            <div id="showInfo">
              <img class="infoContent" id="cntImg" style="width:30px" src="{% static 'images/cnt.png' %}" title="조회수">
              <p class="infoContent" id="cntNum" style="display: inline">{{ imgDetail.image_cnt }}</p>
              <form method="POST" action="/photo/{{ imageList.number|add:-1 }}/0/?city={{imgDetail.city_id_id}}&id={{imgDetail.id}}&sort={{sort}}&data={{data}}">
                {% csrf_token %}
                <button class="like, infoContent" name="like" onclick=""><img class="but" src="{% static 'images/like.png' %}"></button>
                <p class="infoContent" id="likeNum" style="display: inline">{{ imgDetail.image_like }}</p>
              </form>
<!--              <div class="hideInfo" style="display: inline">-->
<!--                <img class="showLike" src="{% static 'images/like.png' %}">-->
<!--                <p class="showLike">{{ imgLike.image_like }}</p>-->
<!--              </div>-->
              <form method="POST" action="/photo/{{ imageList.number|add:-1 }}/1/?city={{imgDetail.city_id_id}}&id={{imgDetail.id}}&sort={{sort}}&data={{data}}">
                {% csrf_token %}
                <button class="like, infoContent" name="dislike" onclick=""><img class="but" src="{% static 'images/dislike.png' %}"></button>
                <p class="infoContent" id="dislikeNum" style="display: inline">{{ imgDetail.image_dislike }}</p>
              </form>
<!--              <div class="hideInfo" style="display: inline">-->
<!--                <img class="showDislike" src="{% static 'images/dislike.png' %}">-->
<!--                <p class="showDislike">{{ imgDislike.image_dislike }}</p>-->
<!--              </div>-->
            </div>
          <br>
          <h5>
            {% if imageList.has_previous %}
              <a onclick="location.replace('http://localhost:8000/photo/{{ imageList.number|add:-2 }}/?city={{imgDetail.city_id_id}}&id={{imgDetail.id}}&sort={{sort}}&data={{data}}')">이전</a>
              {% endif %}
              <a  onclick="history.back()" class="">목록</a>
              {% if imageList.has_next %}
              <a onclick="location.replace('http://localhost:8000/photo/{{ imageList.number }}/?city={{imgDetail.city_id_id}}&id={{imgDetail.id}}&sort={{sort}}&data={{data}}')">다음</a>
              {% endif %}
          </h5>
        </div>
    </div>
  </section>
</div>
{% else %}
<div style="text-align:center">
<h1>{{ msg }}</h1>
</div>
{% endif %}
<script>
    $('document').ready(function() {
        $('.showLike').hide();
        $('.showDislike').hide();
    });
</script>
{% endblock %}