{% extends "base.html"%}
{% block title %}
Photo
{% endblock %}

{% block head %}
<script>
    var doubleSubmitFlag = false;
    function doubleSubmitCheck(){
        if(doubleSubmitFlag){
            return doubleSubmitFlag;
        }else{
            doubleSubmitFlag = true;
            return false;
        }
    }

    function likeCounter(id) {
        if(doubleSubmitCheck()) return;
        $.getJSON("{% url 'likeCount' %}?id="+id, function(jsonObj) {
            $("p.infoLike").text(jsonObj.like);
        });

<!--        alert("등록");-->
    }
    function dislikeCounter(id) {
        if(doubleSubmitCheck()) return;
        $.getJSON("{% url 'dislikeCount' %}?id="+id, function(jsonObj) {
            $("p.infoDislike").text(jsonObj.dislike);
        });

<!--        alert("등록");-->
    }
</script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'photo.css' %}">
{% endblock%}

{% block body %}
{% if imageList %}
<div class="container">
  <section>
    <div class="card" style="width:400px;">
      <img class="card-img-top" src="{{ imgDetail.image_file.url }}" alt="Card image" style="width:100%">
        <div class="card-body" style="text-align: center">
          <h4 class="card-title"></h4>
            <div id="showInfo">
              <img id="cntImg" style="width:30px" src="{% static 'images/cnt.png' %}" title="조회수">
              <p id="cntNum" style="display: inline">{{ imgDetail.image_cnt }}</p>
              <form method="POST">
                {% csrf_token %}
                <div style="display:inline" class="likeform" onclick="likeCounter({{imgDetail.id}});"><img class="but" src="{% static 'images/like.png' %}"></div>
                <p class="infoLike" style="display: inline">{{ imgDetail.image_like }}</p>
              </form>
              <form method="POST">
                {% csrf_token %}
                <div style="display:inline" class="likeform" onclick="dislikeCounter({{imgDetail.id}});"><img class="but" src="{% static 'images/dislike.png' %}"></div>
                <p class="infoDislike" style="display: inline">{{ imgDetail.image_dislike }}</p>
              </form>
            </div>
          <br>
          <h5>
            {% if imageList.has_previous %}
              <a onclick="location.replace('http://localhost:8000/photo/{{ imageList.number|add:-2 }}/?city={{imgDetail.city_id_id}}&id={{imgDetail.id}}&sort={{sort}}&data={{data}}')">이전</a>
              {% endif %}
              <a  onclick="history.back()" class="">목록</a>
              {% if imageList.has_next %}
              <a onclick="location.replace('http://localhost:8000/photo/{{ imageList.number }}/?city={{imgDetail.city_id_id}}&id={{imgDetail.id}}&sort={{sort}}&data={{data}}')">다음</a>
              {% endif %}
          </h5>
        </div>
    </div>
  </section>
</div>
{% else %}
<div style="text-align:center">
<h1>{{ msg }}</h1>
</div>
{% endif %}
{% endblock %}