<!DOCTYPE HTML>
<html>
	<head>
		<title>#OOTD:: Outfit Of The Day</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
			integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
			crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
			integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
			crossorigin=""></script>

		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/index.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
		<script type="text/javascript" src="{% static 'weather.js' %}"></script>
		<script type="text/javascript" src="{% static 'main.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div class="top-bar">
				<h1>#OOTD</h1>
				<p>
					국내 날씨 정보와 함께 다른 사람들의 OOTD 를 확인하고, 직접 OOTD 를 올릴 수 있습니다.<br>
					아래에서 원하는 지역을 클릭해 보세요.</p>
			</div>
			<header id="header">
				<div class="logo">
					<span class="icon fa-gem"></span>
				</div>
				<div class="content">
					<!-- 지도에서 찾기 -->
					<div class="inner">
						<article class="map-area">
							<div class="name-area"><h2>지도에서 찾기</h2></div>
							<div class="map-area">
								<div id="mapid" class="map-area"></div>
								<div id="map-cover" class="map-area"></div>
								<div class="popup-area" onclick=closePopup()>
									<div><div><div id="map-popup"></div></div></div>
								</div>
							</div>
							<hr>
						</article>

						<!-- 지역명으로 찾기 -->
						<article class="search-bar">
							<h2>지역명으로 찾기</h2>
							<div>
								<select id="sido" name="sido" onchange="changeSelect()">
									<option value="">시/도</option>
								</select>
								<select id="city" name="city">
									<option value="">시/군/구</option>
								</select>
								<button onclick="goTo('{% url "feed" %}')">검색</button>
								<button class="button primary" onclick="goTo('{% url "upload" %}')">올리기</button>
							</div>
							<hr>
						</article>

						<!-- 수치정보 -->
						<article class="info">
							<div class="num info">
								<p>오늘의 참여자는,</p>
								<p><span class="num">{{ image_count }}</span>명</p>
							</div>
							<div class="num info">
								<p>오늘의 OOTD 정확도는,</p>
								<p><span class="num">{{ image_plike }}</span>%</p>
							</div>
						</article>
					</div>
				</div>
				<nav>
					<ul>
						<li><a href="#top5">Top5</a></li>
						<li><a href="{% url 'upload' %}">Upload</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
		<div id="main">
			<!-- Intro -->
				<article id="top5">
					<h2 class="major">TOP5</h2>
					<p>오늘 하루 동안 '맞아요' 를 가장 많이 받은 상위 5개 OOTD 입니다. <br>순위는 실시간으로 변동됩니다.</p>
					<div class="top info">
						{% for i in image_list_like %}
							<div>
								<p>Top {{ forloop.counter }}<br><b>{{ i.image_name }}</b></p>
								<div>
									<a href="{% url 'photo'%}{{forloop.counter0}}/?city={{ i.city_id_id }}&id={{ i.image_id }}&sort=image_like&data=top5">
										<img class='top-pic' src='{{ i.image_file.url }}'>
									</a>
								</div>
							</div>
							{% if forloop.counter == 1 %} <br> {% endif %}
						{% endfor %}
					</div>
				</article>

			<!-- About -->
				<article id="about">
					<h2 class="major">About</h2>
					<span class="image main"><img src="{% static 'images/about_pic.jpg' %}" alt="" /></span>
					<p><b>#OOTD</b>는 패션 블로거, 셀럽 위주였던 기존의 OOTD(Outfit of the day)에 지역 날씨 정보를 결합해 실용성을 추구하고자 합니다.</p>
					<p>일기예보만 보고 어느 정도로 옷을 껴입어야 하는지 또는 가볍게 입어도 되는지 감이 오지 않는 경우가 종종 있습니다.
					<b>#OOTD</b>에서는 국내 시/군/구 단위별로 실시간 날씨 정보를 제공하고, 해당 지역별 사용자들이 올려놓은 OOTD을 구경할 수 있습니다.<br>
					다른 사용자의 OOTD 가 실제 날씨와 적합한 옷차림인지 간편하게 평가할 수 있는 '맞아요' 또는 '틀려요' 기능도 존재합니다. 
					이 수치를 통해 날씨와 더 잘 맞는 옷차림은 어떤 사용자의 OOTD인지 판단할 수 있습니다.</p>
					<p>외출 전 어떤 옷을 입고 나가야 하는지 고민될 때, <b>#OOTD</b>에서 날씨와 옷차림을 확인하세요!</p>
					<hr>

					<h3 class="major">만든 사람들</h3>
					<div class="members">
						<div>
							<img src="{% static 'images/profile1.png' %}">
							<p><b>구혜인</b></p>
						</div>

						<div>
							<img src="{% static 'images/profile2.png' %}">
							<p><b>김경한</b></p>
						</div>

						<div>
							<img src="{% static 'images/profile3.png' %}">
							<p><b>류제룡</b></p>
						</div>

						<div>
							<img src="{% static 'images/profile4.png' %}">
							<p><b>이상지</b></p>
						</div>
					</div>
				</article>
				</div>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
				</footer>
		</div>

		<!-- BG -->
		<div id="bg"></div>


		

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/index.js' %}"></script>

		<script>
			window.onload = function() {
				// TOP5 OOTD
				for(i=0; i < (5 - {{ image_count }}); i++) {
					$("div.top.info").append(`
						<div>
							<p>Top ` + ({{ image_count }} + i + 1) + `<br><br></p>
							<img class="top-pic" src="{% static 'images/letter-x.png' %}" style="filter: invert(100%);">
						</div>`);
					if(({{ image_count }} == 0) && (i == 0) )
						$("div.top.info").append("<br>");
				}

				// 팝업창 뜬 상태에서 새로고침했을 때
				var main_path = location.href.split("/");
				var main_path_last = main_path[main_path.length - 1]
				if(["#top5", "#about"].includes(main_path_last))
					$("div.top-bar > p").css("display", "none");

				// 화면크기..
				$(window).resize(function() {
					var map_width = document.querySelector("div.popup-area").offsetWidth;
					var screenX = window.screen.width;
					if(screenX < 685) 
						$("article.map-area").css("display", "none");
					else
						$("article.map-area").css("display", "block");
				});

				var map_width = document.querySelector("article.map-area").offsetWidth;
				if(map_width <= 500) 
					$("article.map-area").css("display", "none");

			}
		
			var geojson;
			var click_sido; // 클릭한 시도코드 넣어줄 변수
		
			// 지도 뿌리기
			const mymap = L.map('mapid', {
					scrollWheelZoom: false,
					dragging: false,
					zoomControl: false,
					doubleClickZoom: false
				}).setView([35.85, 127.9], 7);
			L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
				minZoom: 7,
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
					'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery <a href="https://www.mapbox.com/">Mapbox</a>',
				id: 'mapbox.streets'
			}).addTo(mymap);
		
			
			changeSido(); // 초기화면
		
			// 선택한 시군구만 컬러 강조 (마지막이 기본값)
			function getColor(d) {
				return (d > click_sido) && (d < (click_sido + 1000)) ? "#d9c8ea" : "#ffffff";
			}
		
			// 구역컬러 스타일 지정
			function style(feature) {
				return {
					fillColor: getColor(feature.properties.SIG_CD),
					weight: 2,
					opacity: 0.7,
					color: 'white',
					fillOpacity: 0.8
				};
			}


			// hover 시 면적(시도)/경계선(시군구) 강조
			function highlightFeature(e) {
				var layer = e.target;
				var d = Number(layer.feature.properties.SIG_CD);
		
				if(mymap.getZoom() < 8)
					layer.setStyle({
						fillColor: "#d9c8ea",
						weight: 3,
						color: '',
						dashArray: '',
						fillOpacity: 0.8
					});
				else {
					var zcolor = (d > click_sido) && (d < (click_sido + 1000)) ? '#a67ece': "#ffffff";
					layer.setStyle({
						weight: 2,
						fillColor: zcolor,
						dashArray: '',
						fillOpacity: 0.8
					});
				}
		
				if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge)
					layer.bringToFront();
			}
		
			function resetHighlight(e) {
				geojson.resetStyle(e.target);
			}
		
			// (시도 영역에서) 클릭 시 해당 영역 줌인
			function zoomToFeature(e) {
				if(mymap.getZoom() < 8) {
					geojson.removeFrom(mymap);
					mymap.fitBounds(e.target.getBounds());
					
					changeSigungu();
				}
			}
		
			// 액션과 함수 매칭!
			function onEachFeature(feature, layer) {
				layer.on({
					mouseover: highlightFeature,
					mouseout: resetHighlight,
					click: zoomToFeature
				});
			}
		
		
			// 지도 확대 시 sido.geojson 제거
			mymap.on("zoomend", function(){
				if(mymap.getZoom() < 8) {
					geojson.removeFrom(mymap);
					changeSido();
				}
			});
		
		
			// 지도 홈버튼(줌아웃)
			var home = { lat: 35.85, lng: 127.9, zoom: 7};
			var zoomHome = new L.Control.zoomHome();  // geomap.js
			zoomHome.home = home;
			zoomHome.addTo(mymap);
		
		
			var hover_sido;
			var hover_city;
			// 시도 기준 구획 나누기
			function changeSido() {
				var xhr = new XMLHttpRequest();
				var data  // 시도 geojson 데이터
				xhr.onload =  function() {
					if(xhr.status == 200) {
						data = JSON.parse(xhr.responseText);
						geojson = L.geoJson(data, {
							style: style,
							onEachFeature: onEachFeature
						}).addTo(mymap);
		
						// 해당 구역 시도코드 받아오기
						geojson.on("click", function(layer){
							click_sido = Number(layer.layer.feature.properties.CTPRVN_CD)*1000;
						});
						
						// 상단 .name-area에 hover된 시도명 표시
						geojson.on("mouseover", function(layer){
							hover_sido = layer.layer.feature.properties.CTP_KOR_NM;
							$(".name-area > h2").text(hover_sido);
						});
						geojson.on("mouseout", function(){
							$(".name-area > h2").text("지도에서 찾기");
						});
					}
				}
				xhr.open("GET", "{{ sido_geo }}", true);
				xhr.send();
			}
		
			// 시군구 기준 구획 나누기
			function changeSigungu() {
				var sigungu = new XMLHttpRequest();
				sigungu.onload =  function() {
					if(sigungu.status == 200) {
						var data = JSON.parse(sigungu.responseText);
						geojson = L.geoJson(data, {
							style: style,
							onEachFeature: onEachFeature
						}).addTo(mymap);
						
						var lat, lng; // 중심좌표 위경도
						// 클릭 시 시군구 팝업
						geojson.addTo(mymap).bindPopup(function (layer) {
							var click_cd = Number(layer.feature.properties.SIG_CD);  // 클릭한 시군구코드
							var url = [
								'{% url "feed"%}?city=' + click_cd, 
								'{% url "upload" %}?city=' + click_cd
							];
								
							// 클릭한 시군구의 중심좌표 로드
							{% for i in city_list %}
								if({{ i.city_id }} == click_cd) {
									lat = {{ i.city_lat }};
									lng = {{ i.city_lng }};
								}
							{% endfor %}
							
							if((click_cd > click_sido) && (click_cd < (click_sido + 1000))){
								var img = {
									spinner: "<img src='{% static "images/Rolling.gif" %}' alt='로딩중...' style='width:15px'>",
									best_img: "<div class='best-pic none'><div>"+ layer.feature.properties.SIG_KOR_NM +"의 OOTD가<br>아직 없어요</div></div>"
								};
								
								// DB에서 best_img 로드
								for(i = 0; i < {{ image_count }}; i++) {
									{% for j in image_list %}
										if({{ j.city_id_id }} == click_cd) {
											img.best_img = `
												<div class='best-pic'>
													<a href="{% url 'photo'%}0/?city={{ j.city_id_id }}&id={{ j.image_id }}&sort=image_cnt&data=cnt">
														<div><img class='best-pic' src='{{ j.image_file.url }}'></div>
													</a>
												</div>`;
											break;
										}
									{% endfor %}
								}
		
								getInfo(layer, img, click_cd, url);  // geomap.js
								
								return "";
							} else {
								$(".leaflet-popup.leaflet-zoom-animated").attr("style", "display:none");
								$(".name-area > h2").text("더블클릭하면 지도가 축소됩니다");
								return "";
							}
						});
		
						// 날씨정보 로드
						geojson.on("click", function(){
							if(document.querySelector("div.popup.info table.table"))
								getWeather(lat, lng);  // weather.js
						});
						
						// 상단 .name-area에 hover된 시군구명 추가 표시
						geojson.on("mouseover", function(layer){
							var hover_cd = Number(layer.layer.feature.properties.SIG_CD);
		
							if((hover_cd > click_sido) && (hover_cd < (click_sido + 1000))) {
								hover_city = layer.layer.feature.properties.SIG_KOR_NM;
								if(hover_sido != hover_city && $("#map-cover").css("display") == "none")  // 세종시..
									$(".name-area > h2").append(" " + hover_city);
							}
							else
							$(".name-area > h2").text("더블클릭하면 지도가 축소됩니다");
						});
		
						geojson.on("mouseout", function(layer){
							if($("#map-cover").css("display") == "none")
								$(".name-area > h2").text(hover_sido);
						});
						
						// 더블클릭 시 줌아웃 (HOME버튼과 같은 기능)
						mymap.on("dblclick", function(){
							mymap.setView([home.lat, home.lng], home.zoom);
						});
					}
				}
				sigungu.open("GET", "{{ sigungu_geo }}", true);
				sigungu.send();
			}
		
		
			// select box (search-bar)
			{% for i in sido_list %}
				$("#sido").append("<option value=" + {{ i.sido_id }} + "> {{ i.sido_name }} </option>");
			{% endfor %}
		
			function changeSelect() {
				document.getElementById("city").innerHTML = '<option value="">시/군/구</option>';
				var sidoSelect = document.getElementById("sido");
				
				if (sidoSelect != ""){
					var sido_val = Number(sidoSelect.options[sidoSelect.selectedIndex].value);
					{% for i in city_list %}
						if({{ i.sido_id_id }} == sido_val)
							$("#city").append("<option value={{ i.city_id }}>{{ i.city_name }}</option>");
					{% endfor %}
				}
			}
		
			function goTo(page) {
				citySelect = document.getElementById("city");
				selected_city = Number(citySelect.options[citySelect.selectedIndex].value);
				if(selected_city != 0)
					location.href = page + '?city=' + selected_city;
			}
		</script>
	</body>
</html>
