{% extends "base.html"%}
{% block title %}
<!-- 페이지 타이틀명 적어주세여(브라우저 탭부분)-->
{% endblock %}

{% block head %}
<!-- head에 들어갈 태그들(본인 페이지 전용 css, js 파일 등) 넣어주세여 -->
<!-- 전체 폰트, 부트스트랩, 제이쿼리 링크는 base.html에 있으니까 안 써줘도 돼요 -->
<!-- 예시(아래) -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dropdown.css' %}" xmlns:height="http://www.w3.org/1999/xhtml">
{% endblock%}

{% block body %}
<body>

<img
src="https://media.istockphoto.com/photos/submit-button-picture-id466098897?k=6&m=466098897&s=170667a&w=0&h=hQ7f8Z7xvhbR2yVZN9J0kQ4zO9pmo3RENBq70c4QCHU="
style="display: block; margin:0 auto;border: 3px solid gold;
border-radius: 7px;
-moz-border-radius: 7px;
-khtml-border-radius: 7px;
-webkit-border-radius: 7px;
"/>
  <center>
    <button type="button" class="btn btn-outline-success">파일제출 </button>
    <button type="button" class="btn btn-outline-success">첨부</button>
  </center>
<center>
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary">서울특별시</button>
  <button type="button" class="btn btn-secondary">경기도</button>
  <button type="button" class="btn btn-secondary">인천광역시</button>
  <button type="button" class="btn btn-secondary">강원도</button>
  <button type="button" class="btn btn-secondary">세종특별자치시</button>
  <button type="button" class="btn btn-secondary">충청북도</button>
  <button type="button" class="btn btn-secondary">충청남도</button>
  <button type="button" class="btn btn-secondary">경상북도</button>
  <button type="button" class="btn btn-secondary">경상남도</button>
  <button type="button" class="btn btn-secondary">전라북도</button>
  <button type="button" class="btn btn-secondary">전라남도</button>
  <button type="button" class="btn btn-secondary">제주특별자치도</button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">서울특별시</a>
      <a class="dropdown-item" href="#">경기도</a>
      <a class="dropdown-item" href="#">인천광역시</a>
      <a class="dropdown-item" href="#">강원도</a>
      <a class="dropdown-item" href="#">세종특별자치시</a>
      <a class="dropdown-item" href="#">충청북도</a>
      <a class="dropdown-item" href="#">충청남도</a>
      <a class="dropdown-item" href="#">경상북도</a>
      <a class="dropdown-item" href="#">경상남도</a>
      <a class="dropdown-item" href="#">전라북도</a>
      <a class="dropdown-item" href="#">전라남도</a>
      <a class="dropdown-item" href="#">제주특별자치도</a>
    </div>
  </div>
</div>
</center>
 </center>


  </body>
{% endblock %}