{% extends "base.html"%}
{% block title %}
upload ootd
{% endblock %}

{% block head %}
<!-- head에 들어갈 태그들(본인 페이지 전용 css, js 파일 등) 넣어주세여 -->
<!-- 전체 폰트, 부트스트랩, 제이쿼리 링크는 base.html에 있으니까 안 써줘도 돼요 -->
<!-- 예시(아래) -->
<!--{% load static %}-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'seoul_seg.css' %}"> &ndash;&gt;-->
{% endblock%}
{% block body %}
<body>
<img
src="https://media.istockphoto.com/photos/submit-button-picture-id466098897?k=6&m=466098897&s=170667a&w=0&h=hQ7f8Z7xvhbR2yVZN9J0kQ4zO9pmo3RENBq70c4QCHU="
style="display: block; margin:0 auto;border: 3px solid gold;
border-radius: 7px;
-moz-border-radius: 7px;
-khtml-border-radius: 7px;
-webkit-border-radius: 7px;
"/>
<center>

    {% if upload.photo %}
        <h2>작성자 이름 : {{ image.image_name }}</h2>
        <p>path :{{ image.image_file.path }}</p>
        <p>url : {{ image.image_file.url }}</p>
        <img src="{{ image.image_file.url }}" width="200" alt="">

    {% else %}

        <form method="post"  action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p>사진제목 : <input type="text" name="image_name"></p>
            <input type="file" name="image_file">
            <input type="submit" value="전송">
        </form>
    {% endif %}
</center><center>
        <article class="search-bar">
            <select id="sido" name="sido" onchange="changeSelect()">
            <option value="">시 선택</option>
        </select>
        <select id="city" name="city">
            <option value="">시군구 선택</option>
        </select>
    </article>

    <script>
        // select box (search-bar)
        {% for i in sido_list %}
            $("#sido").append("<option value=" + {{ i.sido_id }} + "> {{ i.sido_name }} </option>");
        {% endfor %}

        function changeSelect() {
            document.getElementById("city").innerHTML = '<option value="">시군구 선택</option>';
            var sidoSelect = document.getElementById("sido");

            if (sidoSelect != ""){
                var sido_val = Number(sidoSelect.options[sidoSelect.selectedIndex].value);
                {% for i in city_list %}
                    if({{ i.sido_id_id }} == sido_val)
                        $("#city").append("<option vlaue={{ i.city_id }}>{{ i.city_name }}</option>");
                {% endfor %}
        }
    </script>
    </center>
{% endblock %}
