section { overflow: hidden;  }

/* article.map-area { height: 800px; } */

h2 { text-align: center; }

div.map-area, div.popup-area > div {
    width: 100%;
    height: 670px;
}

#mapid { background-color: white; z-index: 1; }

.leaflet-tile-container {
    display: none;
}

#map-cover {
    display: none;
    background-color: black; 
    opacity: 0.5;
    z-index: 2;
    position: relative;
    top: -670px;
}

div.popup-area {
    display: none;
    z-index: 3;
    position: relative;
    top: -1340px;
}

div.popup-area > div { display: table; }

div.popup-area > div > div { 
    width: 670px;
    display: table-cell;
    vertical-align: middle;
}

#map-popup {
    background-color: white;
    width: 480px;
    height: 300px;
    margin: 0 auto;
    opacity: 1.0;
}

#map-popup > div { 
    display: table; 
    width: 480px;
    height: 300px;
}

#map-popup > div > div { 
    display: table-cell; 
    vertical-align: middle;
}

.leaflet-popup.leaflet-zoom-animated { display: none; }

// zoomHome
div.gin-control-zoom leaflet-bar.leaflet-control, a.gin-control-zoom-home, a.gin-control-zoom-home:hover {
    width: 34px;
    height: 34px;
    user-select: none;
}

.name-area { text-align: center; }


/* 지도 시군구 팝업창 
div.leaflet-popup-content-wrapper { width: 480px; }

div.popup { width: 480px; }*/

div.popup.info { 
    display: inline-block;
    margin: 0 25px;
}

div.popup.info table.table { 
    width: 240px; 
    margin-right: 10px;
    height: 180px;
    float:left; 
    text-align: center;
}

div.popup.info table.table * { vertical-align: middle; }

div.popup.info table.table th.first-col { width: 68px; }

#popup-desc, #popup-temp-h1, #popup-temp-h2 { height: 50px; }

.best-pic {
    width: 180px;
    height: 180px;
    float:left;
}

div.best-pic {
    border: 0.02rem solid #d9d9d9;
    text-align: center;
    display: table;
}

div.best-pic > div {
    display: table-cell;
    vertical-align: middle;
}

img.weather-pic {
    width: 35px;
    height: 35px;
}

div.btn-group button { width: 215px; }


/* 지역명으로 찾기 */
article.search-bar { text-align: center;}

#sido { width: 30%; }

#city { width: 50%; margin: 5px; }

/* article.search-bar > button {} */


/* 하단  수치 현황 */
article.info { display: block; }

.num.info {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 1rem;
}

span.num { font-size: 35px; }

div.top.info { text-align: center; }

div.top.info > a:hover { text-decoration: none; }

img.top-pic { 
    width: 100px; 
    height:100px;
    margin: 5px;
}


/* 튜토리얼 영역 */
svg.bi-question-circle-fill.map, svg.bi-question-circle-fill.search { cursor: pointer; }

section > div:nth-child(2) { position: relative; }

div.tutorial-area { 
    visibility: hidden;
    /* background-color: black; */
    /* opacity: 0.5; */
    z-index: 3;
    position: relative;
    top: 0px;
    width: 100%;
}

div.tutorial.tutorial-map, div.tutorial.tutorial-search { 
    position: relative; 
    /* width: 250px; */
    width: 0px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    background-color: lightgrey;
    transition: width 1s, height 1s;
    font-size: small;
}


/* div.tutorial-search, div.tutorial-map { border: 0.07rem dashed blue }

div.tutorial-map > div { 
    border: 0.1rem solid white;
    background-color: yellowgreen; 
    position: relative;
    width: 25%;
    margin: 10px;
    text-align: center;
    font-size: small;
}

div.tutorial-search-title { 
    border: 0.1rem solid white;
    background-color: yellowgreen; 
    position: relative;
    width: 35%;
    text-align: center;
    font-size: small;
} */