/* section { overflow: hidden;  } */

/* header(nav) */

div.top-bar { margin: 50px 0px; }

div.top-bar * {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    z-index: 4;
    border: 0 none;
    margin: auto;
}

div.top-bar h1 { margin: 20px auto; }

div.top-bar p { margin: 5px auto; }


/* article */
article.map-area { margin-bottom: 40px;}

article.map-area { 
    max-height: 670px;
    overflow: hidden;
}

h2 { text-align: center; user-select: none;}

div.map-area, div.popup-area > div {
    width: 95%;
    height: 670px;
}

#mapid {
    z-index: 1;
    margin: auto;
}

.leaflet-container {
    background: none;
}

div.leaflet-bottom.leaflet-right { display: none; }

#map-cover {
    display: none;
    /* background-color: black; 
    opacity: 0.5; */
    z-index: 2;
    position: relative;
    top: -670px;
    margin: auto;
    margin-bottom: 15px;
}

div.popup-area {
    display: none;
    z-index: 3;
    position: relative;
    top: -1340px;
}

div.popup-area > div { display: table; margin: auto; }

div.popup-area > div > div { 
    width: 670px;
    display: table-cell;
    vertical-align: middle;
}

#map-popup {
    background-color: rgba(35, 40, 44, 0.85);
    border-radius: 10px;
    width: 480px;
    height: 300px;
    margin: 0 auto;
    opacity: 1;
}

#map-popup > div { 
    display: table; 
    width: 480px;
    height: 300px;
}

#map-popup > div > div { 
    display: table-cell; 
    vertical-align: middle;
}

.leaflet-popup.leaflet-zoom-animated { display: none; }

// zoomHome
div.gin-control-zoom leaflet-bar.leaflet-control, a.gin-control-zoom-home:hover {
    width: 28px;
    height: 28px;
    user-select: none;
}

.name-area { text-align: center; }
.name-area * { display: inline; }


/* 지도 시군구 팝업창 */
div.popup *  { font-size: 12pt; }

div.popup.info { 
    display: inline-block;
    margin: 0 25px;
}

div.popup.info table.table { 
    width: 240px; 
    margin: 0px 10px 0px 0px;
    height: 180px;
    float:left; 
    text-align: center;
}

div.popup.info table.table * { vertical-align: middle; }

div.popup.info table.table th.first-col { width: 68px; }

div.popup.info table.table th[colspan="2"] { 
    color: rgba(35, 40, 44, 0.85); 
    width: 35px;
}

div.popup.info table.table td { color: #ffffff }

#popup-desc, #popup-temp-h1, #popup-temp-h2 { height: 50px; }

.best-pic {
    width: 180px;
    height: 185px;
    float:left;
}

div.best-pic {
    border: 0.02rem solid #d9d9d9;
    text-align: center;
    display: table;
}

div.best-pic > div {
    display: table-cell;
    vertical-align: middle;
}

img.weather-pic {
    width: 35px;
    height: 35px;
}

div.popup.info > button { width: 210px; margin: 15px auto 0px auto;}


/* 지역명으로 찾기 */
article.search-bar { text-align: center; }

#sido, #city { display: inline; }

#sido { width: 20%; }

#city {
    width: 40%; 
    margin: 0px 5px; 
}

article.search-bar button { 
    vertical-align: top; 
    margin-left: 5px;
}


/* 하단  수치 현황 */
article.info { display: block; }

article.info > div.num.info:nth-child(1) { border-right: dotted 1px rgba(255, 255, 255, 0.5);; }

.num.info {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    margin: 70px auto 20px auto;
}

span.num { font-size: 35px; }

div.top.info { text-align: center; }

div.top.info a:hover { text-decoration: none; }

/* TOP5 OOTD */
div.top-pic { display: inline-block; }

div.top-pic p { margin: 10px 0px 0px 0px; }

div.top-pic a { border-bottom: none; }

img.top-pic { 
    width: 200px; 
    height: 200px;
    margin: 5px;
}