/* section { overflow: hidden;  } */

/* article.map-area { height: 800px; } */

p { word-break: keep-all; }

/* 상단 공통 */
div.top-bar { text-align: center; }

div.top-bar * { margin: 50px auto; }

h2 { text-align: center; }


/* 영역 구분선 */
.map-area hr, .search-bar hr, #about hr { 
    border-bottom: dotted 1px rgba(255, 255, 255, 0.5); 
    margin: 60px 0px;
}


/* 지도 영역 */
div.map-area, div.popup-area > div {
    width: 100%;
    height: 670px;
}

#mapid { background-color: transparent; z-index: 1; }

.leaflet-tile-container, .leaflet-bottom.leaflet-right { display: none; }

/* 지도 팝업창 영역 */
#map-cover {
    display: none;
    z-index: 2;
    position: relative;
    top: -670px;
}

div.popup-area {
    display: none;
    z-index: 3;
    position: relative;
    top: -1340px;
}

div.popup-area.active {
    animation-name: appear;
    animation-duration: 0.5s;
}

@keyframes appear{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

div.popup-area.active-c {
    animation-name: disappear;
    animation-duration: 0.5s;
}

@keyframes disappear{
    0% { opacity: 1; }
    100% { opacity: 0; }
}



div.popup-area > div { display: table; }

div.popup-area > div > div { 
    width: 670px;
    display: table-cell;
    vertical-align: middle;
}

#map-popup {
    background-color: rgba(27, 31, 34, 0.85);
    position: relative;
    width: 480px;
    height: 330px;
    margin: 0 auto;
    border-radius: 10px;
}

#map-popup > div { 
    display: table; 
    width: 480px;
    height: 300px;
    margin: auto;
}

#map-popup > div * { font-size: 12pt; }

#map-popup > div > div { 
    display: table-cell; 
    vertical-align: middle;
}

.leaflet-popup.leaflet-zoom-animated { display: none; }

/* zoomHome */
div.gin-control-zoom leaflet-bar.leaflet-control, a.gin-control-zoom-home, a.gin-control-zoom-home:hover {
    width: 30px;
    height: 30px;
    user-select: none;
}

.gin-control-zoom-home > svg {
    position:relative;
    top: 2px;
}

.name-area { text-align: center; }


/* 지도 시군구 팝업창*/
div.popup.info { 
    display: inline-block;
    margin: 0 25px;
}

div.popup.info table.table { 
    width: 240px; 
    margin: 0px 10px 10px 0px;
    height: 180px;
    float:left; 
    text-align: center;
}

div.popup.info table.table * { 
    vertical-align: middle; 
    text-align: center;
    padding: 0px;
}

table.table tbody > tr:nth-child(1) { background-color: rgba(153, 153, 153, 0.3); }

div.popup.info table.table th.first-col { width: 40%; }

#popup-desc, #popup-temp-h1, #popup-temp-h2 { height: 50px; }

.best-pic {
    width: 180px;
    float:left;
}

div.best-pic { 
    display: inline;
    height: 180px; 
    overflow:hidden;
}

div.best-pic.none {
    border: 0.02rem solid #d9d9d9;
    text-align: center;
    display: table;
}

div.best-pic.none > div {
    display: table-cell;
    vertical-align: middle;
}

img.weather-pic {
    width: 35px;
    height: 35px;
}

div.btn-group button { width: 213px;}


/* 팝업창 내 Close */
#map-popup div.close { 
    float: right; 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: auto;
    margin-right: 5px;
}


/* 지역명으로 찾기 */
article.search-bar { text-align: center; }

article.search-bar > div {padding: 20px 0px; }

#sido, #city { 
    display: inline; 
    margin: 30px 5px 0px 0px; 
}

#sido { 
    width: 25%; 
    min-width: 96px;
}

#city { 
    width: 35%; 
    min-width: 114px;
}

article.search-bar button { 
    vertical-align: top;
    margin: 30px 5px 0px 0px; 
}


/* 하단  수치 현황 */
article.info { display: block; }

.num.info {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 1rem;
}
article.info > .num.info:nth-child(1) { border-right: dotted 1px rgba(255, 255, 255, 0.5); }

span.num { font-size: 35px; }


/* TOP5 OOTD */
div.top.info { text-align: center; }

div.top.info * { user-select: none; }

div.top.info > div { 
    display: inline-block; 
    width: 40%;
    margin: 15px 10px; 
}

div.top.info > div > p { margin: 5px; }
div.top.info > div > div {
    border-radius: 4px;
    width: 224px;
    overflow: hidden;
    margin: 0 auto;
}

div.top.info a {
    display: block;
    position: relative;
    width: 224px;
    height: 224px;
    overflow: hidden;
}

div.top.info a:hover { text-decoration: none; }

img.top-pic {
    border-radius: 4px;
    height: 100%;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

div.top.info a { border-bottom: dotted 1px rgba(255, 255, 255, 0); }


/* ABOUT */
#about div.members { text-align: center; }

#about div.members > div {  
    display: inline-block;
    width: 45%;
}

#about div.members > div > img {
    width: 100%;
    user-select: none;
}